.widget{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
    -webkit-box-shadow: -2px -4px 14px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -4px 14px -1px rgba(0,0,0,0.75);
box-shadow: -2px -4px 14px -1px rgba(0,0,0,0.75);
height: 100px;
transition: 1s all ease-in-out;

&:hover{
    margin-top: -1rem;
    background-color: bisque;
}


.left, .right{
    display: flex;

    flex-direction: column;
    justify-content: space-between;

    .title{
        font-weight: bold;
        font-size: 14px;
        color: #444;
    }

    .counter{
        font-size: 28px;
        font-weight: 300;
    }

    .link{
        border-bottom: 1px solid #444;
        width: max-content;
        cursor: pointer;
    }

    .percentage{
        display: flex;
        align-items: center;
        font-size: 14px;

        &:green{
            color: green;
        }
        &:red{
            color: green;
        }
    }

    .icon{
        font-size: 18px;
        padding: 5px;
        background-color: #321098e4;
        color: #fff;
        border-radius: 50%;
        align-self: flex-end;
    }
}
}