.single{
    display: flex;
    width: 100%;
    .singleContainer{
    flex: 6;

    .top{
        padding: 20px;
        display: flex;
        gap: 30px;


        .left{
            flex: 1;
            -webkit-box-shadow: -2px -4px 14px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: -2px -4px 14px -1px rgba(0,0,0,0.75);
            box-shadow: -2px -4px 14px -1px rgba(0,0,0,0.75);
            padding: 20px;
            position: relative;
            height: 300px;

            .editButton{
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px;
                font-size: 12px;
                color:#792679;
                background-color: #d6b2d4;
                border-radius: 2px;
                cursor: pointer;

            }

            .title{
                font-size: 16px;
                color: #222;
                text-align: center;
                margin-bottom: 1rem;
            }
            .item{
                display: flex;
                gap: 20px;

            img{
                width: 200px;
                height: 200px;
                margin: 0 auto;
                border-radius: 50%;
                object-fit: cover;
                border: 4px dotted darkblue;

                
            }

            .details{
                h1{
                    margin-bottom: 30px;
                    color: #333;
                    font-size: 19px;
                }

                .detailI{
                    margin-bottom: 20px;
                    font-size: 14px;

                    .itemKey{
                        font-weight: bold;
                        color: #333;
                        margin-right: 5px;
                    }

                    .itemValue{
                        font-weight: 300;
                    }
                }
            }

        }


        }

        .right{
            flex: 2;
        }
    }

    .bottom{
        padding: 20px 30px;
        -webkit-box-shadow: -2px -4px 14px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px -4px 14px -1px rgba(0,0,0,0.75);
        box-shadow: -2px -4px 14px -1px rgba(0,0,0,0.75);
        
    }
    }

    
    .title{
        font-size: 16px;
        color: lightgray;
        margin-bottom: 20px;
    }
}