.home{
    display: flex;
    .homeContainer{
        flex: 6;
        
    }

    .widgets{
        margin-top: 2rem;
        display: flex;
        padding: 20px;
        gap: 13px;

      
        
    }

    .charts{
        display: flex;
        gap: 13px;
        padding: 20px;
      
        
    }
}