.table{
    -webkit-box-shadow: -2px -4px 14px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -4px 14px -1px rgba(0,0,0,0.75);
box-shadow: -2px -4px 14px -1px rgba(0,0,0,0.75);
padding: 10px; 
margin-top: 3rem;

.tableCell{
    text-align: center;
    margin: 0 auto;
   

}
.tableStatus{
    padding: 5px;
    &.pending{
        background-color: rgba(93, 83, 138, 0.758);
        color: white;
        padding: 12px 16px;
       
    }  &.Approved{
        background-color: rgb(173, 164, 171);
        color: rgb(91, 14, 75);
        padding: 12px 16px;
    }
}
.rowCell{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    margin-left: -1rem;
    margin: 0 auto;
    text-align:left;
   
    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2rem;
       
        &::before{
content: "";
            height: 45px;
            width: 45px;
            background-color: #444;
            border-radius: 50%;

        }
        
    }

}

}